.container
  .hero-unit
    %h2
      WhistleBlower
    %p
      Anonymously report corruption cases and make a difference
    %p
      %a{'class' => 'btn btn-primary btn-large', 'href' => '/report'} Make a Report &raquo;
  .row
    .span4
      %h4 What is WhistleBlower
      %p We built the WhistleBlower platform as a tool to easily and anonymously crowdsource information on corruption using multiple channels, including SMS, email and the web
      %p
        %a{'class' => 'btn', 'href' => '#'} View details &raquo;
    .span4
      %h4 WhistleBlower is Anonymous
      %p Your identity will never be known when you make a report to WhistleBlower.
      %p
        %a{'class' => 'btn', 'href' => '#'} View details &raquo;
    .span4
      %h4 Reports Acted on Promptly
      %p Our staff work on the reports promptly and investigations on the incidences are carried out.
      %p
        %a{'class' => 'btn', 'href' => '#'} View details &raquo;

